prm-search-bar {
    z-index: 60;
}

.babelio{
    margin-top: 20px;
}

.babelio-critique, .babelio-citation {
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #c1bebe solid;
}

.babelio-lien {
    display: inline-block;
    color:#808080;
    vertical-align: top;
}

.babelio-section {
    font-weight: bold;
    margin: 10px 0px;
}

.babelio-noteglobale .babelio-rating{
    margin-bottom: 10px;
}

.babelio-noteglobale div {
    display: inline-block;
}

.babelio-open {
    max-height: none;
}

.babelio-closed {
    max-height: 100px;
    overflow: hidden;
}

.babelio-rating {
  display: flex;
  align-items: center;
}

.babelio-critique .babelio-rating {
    font-size: 1.1em;
}

.babelio-critique .babelio-date {
    float:right;
    font-size: 0.9em;
    color:#808080;
}


.babelio-noteglobale .babelio-rating {
    font-size: 1.3em;
}

.babelio-rating div.checked::before {
    content: "\2B51";
    color: #c40049;
}

.babelio-rating div.unchecked::before {
    content: "\2B51";
    color: #C0C0C0;
}

.babelio-avatar {
    display: inline-block;
    vertical-align: top;
}

.babelio-avatar img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-right: 8px;
        float: left;
}

.babelio-username {
    color: #c40049;
    font-weight: bold;
}

.babelio-critique_content {
    width: 100%;
    display: inline-block;
    max-width: 90%;
    vertical-align: top;
}

.babelio-citation blockquote {
    font-style: italic;
}

.babelio-citation blockquote:before {
    position: absolute;
    margin-left: -30px;
    margin-top: -10px;
    font-size: 4em;
    line-height: 1;
    content: "\201C";
    color: #C0C0C0;
}

.babelio-citation blockquote:after {
    float:right;
    font-size:4em;
    line-height: 1;
    content: "\201D";
    color: #C0C0C0;
}

.babelio-modal {
  display: block;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.babelio-modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  max-width: 900px; 
}

.babelio-close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.babelio-close-button:hover,
.babelio-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.babelio-nav {
    overflow: hidden;
    margin: 5px 0px;
    width: 100%;
}

.babelio-nav .babelio-back{
    float: left;
    padding: 5px 0px;
}

.babelio-nav .babelio-forward{
    float: right;
    padding: 5px 0px;
}