<div class="babelio" id="babelio" ng-init="item = $ctrl.parentCtrl.item">
    <div ng-if="(item.babelio && (item.babelio.critiques_notice.length > 0 || item.babelio.prix.length > 0 || item.babelio.citations_notice.length > 0))">
        <div class="section-head">
            <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                <h4 class="section-title md-title light-text">Data provided by external platform <a target="_blank" ng-href="https://www.babelio.com/livres/-/{{item.babelio.id_oeuvre}}">Babelio.com
                <prm-icon external-link="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new">
                </prm-icon></a></h4>
                <md-divider flex></md-divider>
           </div>
        </div>
        <div class="section-body">
            <div class="spaced-rows">
                <!-- Babelio: avis de lecteurs (affichage direct) -->
                <div ng-if="(item.babelio.critiques_notice && item.babelio.critiques_notice.length > 0)">
                    <div class="babelio-section">Reader reviews ({{item.babelio.critiques_notice.length}} of {{item.babelio.nb_critiques}}<span ng-if="item.babelio.nb_critiques > $ctrl.displayLimit">| <a ng-click="babelthequeDisplayReviews()">display all</a></span>)
                    </div>
                    <div class="babelio-critique" ng-repeat="critique in item.babelio.critiques_notice">
                        <div class="babelio-avatar">
                            <img src="https://www.babelio.com/{{critique.photo}}"/>
                        </div>
                        <div class="babelio-critique_content">
                            <div>
                                <div class="babelio-date">{{critique.dt | cleanDate}}</div>
                                <div class="babelio-username">{{critique.login}}</div>
                                <div class="babelio-rating"><div ng-repeat="n in [1, 2, 3, 4, 5]" ng-class="n <= critique.note ? 'checked' : 'unchecked'"></div></div>
                            </div>
                            <div ng-class="critique.open ? 'babelio-open' : 'babelio-closed'" ng-bind-html="critique.texte.replaceAll('\r\n','<br/>')"></div>
                            <div ng-if="critique.lien">
                                [link removed]
                            </div>
                            <div ng-if="critique.toggle"><a ng-click="critique.open = !critique.open">
                                {{critique.open ? '▲ Show less' : '▼ Show more'}}
                              </a></div>
                        </div>
                    </div>
                    <div ng-if="item.babelio.nb_critiques > $ctrl.displayLimit"><a ng-click="babelthequeDisplayReviews()">Show {{item.babelio.nb_critiques}} reviews on this title</a></div>
                </div>
            </div>
        </div>
        <!-- Babelio: Fenêtre modale pour les critiques de lecteurs -->
        <div class="babelio-modal" ng-show="item.babelthequeDisplayReviewsModal" ng-click="item.babelthequeDisplayReviewsModal = false">
            <div class="babelio-modal-content" (click)="$event.stopPropagation()">
                <span class="babelio-close-button" ng-click="item.babelthequeDisplayReviewsModal = false">&times;</span>
                <div class="babelio-section">{{item.babelio.nb_critiques}} reviews about {{item.pnx.display.title[0]}} shared on <a target="_blank" ng-href="https://www.babelio.com/livres/-/{{item.babelio.id_oeuvre}}">Babelio.com</a></div>
                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayReviewsPage > 1" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage - 1)">◀ Previous reviews</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayReviewsPage < item.babelio.nb_critiques/10" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage + 1)">Next reviews ▶</a>
                </div>
                
                    <div class="babelio-critique" ng-repeat="critique in item.babelio.critiques_affichees">
                        <div class="babelio-avatar">
                            <img src="https://www.babelio.com/{{critique.photo}}"/>
                        </div>
                        <div class="babelio-critique_content">
                            <div>
                                <div class="babelio-date">{{critique.dt | cleanDate}}</div>
                                <div class="babelio-username">{{critique.login}}</div>
                                <div class="babelio-rating"><div ng-repeat="n in [1, 2, 3, 4, 5]" ng-class="n <= critique.note ? 'checked' : 'unchecked'"></div></div>
                            </div>
                            <div class="babelio-open" ng-bind-html="critique.texte.replaceAll('\r\n','<br/>')"></div>
                            <div ng-if="critique.lien">
                                <div class="babelio-lien" >
                                    [link removed]
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayReviewsPage > 1" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage - 1)">◀ Previous reviews</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayReviewsPage < item.babelio.nb_critiques/10" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage + 1)">Next reviews ▶</a>
                </div>
            </div>
        </div>
        <!-- Babelio: Fenêtre modale pour les citations -->
        <div class="babelio-modal" ng-show="item.babelthequeDisplayCitationsModal" ng-click="item.babelthequeDisplayCitationsModal = false">
            <div class="babelio-modal-content" (click)="$event.stopPropagation()">
                <span class="babelio-close-button" ng-click="item.babelthequeDisplayCitationsModal = false">&times;</span>
                <div class="babelio-section">{{item.babelio.nb_citations}} citations from {{item.pnx.display.title[0]}} shared on <a target="_blank" ng-href="https://www.babelio.com/livres/-/{{item.babelio.id_oeuvre}}">Babelio.com</a></div>
                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayCitationsPage > 1" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage - 1)">◀ Previous citations</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayCitationsPage < item.babelio.nb_citations/10" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage + 1)">Next citations ▶</a>
                </div>
                <div>
                    <div class="babelio-citation" ng-repeat="citation in item.babelio.citations_affichees">
                        <blockquote>{{citation.texte}}</blockquote>
                        <div>Shared by <span class="babelio-username">{{citation.login}}</span> on {{citation.dt | cleanDate}}</div>
                    </div>
                </div>
                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayCitationsPage > 1" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage - 1)">◀ Previous citations</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayCitationsPage < item.babelio.nb_citations/10" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage + 1)">Next citations ▶</a>
                </div>
            </div>
        </div>
    </div>
</div>
