<div class="babelio" ng-init="item = $ctrl.parentCtrl.result">
    <!-- Babelio: note moyenne -->
    <div class="babelio-noteglobale" ng-if="item.babelio.note">
        <div class="babelio-section">Rating:</div>
        <div class="babelio-rating"><div ng-repeat="n in [1, 2, 3, 4, 5]" ng-class="(n <= +(item.babelio.note) + 0.5) ? 'checked' : 'unchecked'"></div></div>
        {{item.babelio.note}}/5 ({{item.babelio.nb_notes}} ratings). <span ng-if="item.babelio.critiques_notice.length > 0"><a ng-click="scrollToBabelMain()">See reader reviews.</a></span>
    </div>
</div>