<div class="babelio" id="babelio" ng-init="item = $ctrl.parentCtrl.item">
    <div ng-if="(item.babelio && (item.babelio.critiques_notice.length > 0 || item.babelio.prix.length > 0 || item.babelio.citations_notice.length > 0))">
        <div class="section-head">
            <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                <h4 class="section-title md-title light-text">Informations fournies par la plateforme externe <a target="_blank" ng-href="https://www.babelio.com/livres/-/{{item.babelio.id_oeuvre}}">Babelio.com
                        <prm-icon external-link="" icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new">
                        </prm-icon>
                    </a></h4>
                <md-divider flex></md-divider>
            </div>
        </div>
        <div class="section-body">
            <div class="spaced-rows">
                <!-- Babelio: avis de lecteurs (affichage direct) -->
                <div ng-if="(item.babelio.critiques_notice && item.babelio.critiques_notice.length > 0)">
                    <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                        <div class="babelio-section">Avis de lecture ({{item.babelio.critiques_notice.length}} sur {{item.babelio.nb_critiques}}<span ng-if="item.babelio.nb_critiques > $ctrl.displayLimit">| <a ng-click="babelthequeDisplayReviews()">tout afficher</a></span>)
                        </div>
                        <md-divider flex></md-divider>
                    </div>
                    <div class="babelio-critique" ng-repeat="critique in item.babelio.critiques_notice">
                        <div class="babelio-avatar">
                            <img src="https://www.babelio.com/{{critique.photo}}" />
                        </div>
                        <div class="babelio-critique_content">
                            <div>
                                <div class="babelio-date">{{critique.dt | cleanDate}}</div>
                                <div class="babelio-username">{{critique.login}}</div>
                                <div class="babelio-rating">
                                    <div ng-repeat="n in [1, 2, 3, 4, 5]" ng-class="n <= critique.note ? 'checked' : 'unchecked'"></div>
                                </div>
                            </div>
                            <div ng-class="critique.open ? 'babelio-open' : 'babelio-closed'" ng-bind-html="critique.texte.replaceAll('\r\n','<br/>')"></div>
                            <div ng-if="critique.lien">
                                <div class="babelio-lien">
                                    [lien retiré]
                                </div>
                            </div>
                            <div ng-if="critique.toggle"><a ng-click="critique.open = !critique.open">
                                    {{critique.open ? '▲ Afficher moins' : '▼ Lire la suite'}}
                                </a></div>
                        </div>
                    </div>
                    <div ng-if="item.babelio.nb_critiques > $ctrl.displayLimit"><a ng-click="babelthequeDisplayReviews()">Afficher les {{item.babelio.nb_critiques}} avis sur ce titre</a></div>
                </div>
                <!-- Babelio: prix littéraires -->
                <div id="babelio-prix" ng-if="(item.babelio.prix && item.babelio.prix.length > 0)">
                    <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                        <div class="babelio-section">Prix littéraires</div>
                        <md-divider flex></md-divider>
                    </div>
                    <div class="babelio-prix" ng-repeat="prix in item.babelio.prix">
                        <div>
                            {{prix.titre}}, {{prix.annee}}
                        </div>
                    </div>
                </div>
                <!-- Babelio: citations (affichage direct) -->
                <div ng-if="(item.babelio.citations_notice && item.babelio.citations_notice.length > 0)">
                    <div layout="row" layout-align="center center" class="layout-align-center-center layout-row">
                        <div class="babelio-section">Citations de ce livre ({{item.babelio.citations_notice.length}} sur {{item.babelio.nb_citations}}<span ng-if="item.babelio.nb_citations > $ctrl.displayLimit">| <a ng-click="babelthequeDisplayCitations()">tout afficher</a></span>)</div>
                        <md-divider flex></md-divider>
                    </div>
                    <div class="babelio-citation" ng-repeat="citation in item.babelio.citations_notice">
                        <blockquote>{{citation.texte}}</blockquote>
                        <div>Partagé par <span class="babelio-username">{{citation.login}}</span> le {{citation.dt | cleanDate}}</div>
                    </div>
                    <div ng-if="item.babelio.nb_citations > $ctrl.displayLimit"><a ng-click="babelthequeDisplayCitations()">Afficher les {{item.babelio.nb_citations}} citations sur ce titre</a></div>
                </div>
            </div>
        </div>
        <!-- Babelio: Fenêtre modale pour les critiques de lecteurs -->
        <div class="babelio-modal" ng-show="item.babelthequeDisplayReviewsModal" ng-click="item.babelthequeDisplayReviewsModal = false">
            <div class="babelio-modal-content" (click)="$event.stopPropagation()">
                <span class="babelio-close-button" ng-click="item.babelthequeDisplayReviewsModal = false">&times;</span>
                <div class="babelio-section">{{item.babelio.nb_critiques}} avis de lecture sur {{item.pnx.display.title[0]}} partagés sur <a target="_blank" ng-href="https://www.babelio.com/livres/-/{{item.babelio.id_oeuvre}}">Babelio.com</a></div>
                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayReviewsPage > 1" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage - 1)">◀ Avis précédents</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayReviewsPage < item.babelio.nb_critiques/10" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage + 1)">Avis suivants ▶</a>
                </div>

                <div class="babelio-critique" ng-repeat="critique in item.babelio.critiques_affichees">
                    <div class="babelio-avatar">
                        <img src="https://www.babelio.com/{{critique.photo}}" />
                    </div>
                    <div class="babelio-critique_content">
                        <div>
                            <div class="babelio-date">{{critique.dt | cleanDate}}</div>
                            <div class="babelio-username">{{critique.login}}</div>
                            <div class="babelio-rating">
                                <div ng-repeat="n in [1, 2, 3, 4, 5]" ng-class="n <= critique.note ? 'checked' : 'unchecked'"></div>
                            </div>
                        </div>
                        <div class="babelio-open" ng-bind-html="critique.texte.replaceAll('\r\n','<br/>')"></div>
                        <div ng-if="critique.lien">
                            <div class="babelio-lien">
                                [lien retiré]
                            </div>
                        </div>
                    </div>
                </div>

                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayReviewsPage > 1" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage - 1)">◀ Avis précédents</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayReviewsPage < item.babelio.nb_critiques/10" ng-click="babelthequeDisplayReviews(item.babelthequeDisplayReviewsPage + 1)">Avis suivants ▶</a>
                </div>
            </div>
            <!-- Babelio: Fenêtre modale pour les citations -->
            <div class="babelio-modal" ng-show="item.babelthequeDisplayCitationsModal" ng-click="item.babelthequeDisplayCitationsModal = false">
                <div class="babelio-modal-content" (click)="$event.stopPropagation()">
                    <span class="babelio-close-button" ng-click="item.babelthequeDisplayCitationsModal = false">&times;</span>
                    <div class="babelio-section">{{item.babelio.nb_citations}} citations sur {{item.pnx.display.title[0]}} partagées sur <a target="_blank" ng-href="https://www.babelio.com/livres/-/{{item.babelio.id_oeuvre}}">Babelio.com</a></div>
                    <div class="babelio-nav">
                        <a class="babelio-back" ng-if="item.babelthequeDisplayCitationsPage > 1" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage - 1)">◀ Citations précédentes</a>
                        <a class="babelio-forward" ng-if="item.babelthequeDisplayCitationsPage < item.babelio.nb_citations/10" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage + 1)">Citations suivantes ▶</a>
                    </div>
                    <div>
                        <div class="babelio-citation" ng-repeat="citation in item.babelio.citations_affichees">
                            <blockquote>{{citation.texte}}</blockquote>
                            <div>Partagé par <span class="babelio-username">{{citation.login}}</span> le {{citation.dt | cleanDate}}</div>
                        </div>
                    </div>
                    <div class="babelio-nav">
                        <a class="babelio-back" ng-if="item.babelthequeDisplayCitationsPage > 1" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage - 1)">◀ Citations précédentes</a>
                        <a class="babelio-forward" ng-if="item.babelthequeDisplayCitationsPage < item.babelio.nb_citations/10" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage + 1)">Citations suivantes ▶</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Babelio: Fenêtre modale pour les citations -->
        <div class="babelio-modal" ng-show="item.babelthequeDisplayCitationsModal" ng-click="item.babelthequeDisplayCitationsModal = false">
            <div class="babelio-modal-content" (click)="$event.stopPropagation()">
                <span class="babelio-close-button" ng-click="item.babelthequeDisplayCitationsModal = false">&times;</span>
                <div class="babelio-section">{{item.babelio.nb_citations}} citations sur {{item.pnx.display.title[0]}} partagées sur <a target="_blank" ng-href="https://www.babelio.com/livres/-/{{item.babelio.id_oeuvre}}">Babelio.com</a></div>
                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayCitationsPage > 1" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage - 1)">◀ Citations précédentes</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayCitationsPage < item.babelio.nb_citations/10" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage + 1)">Citations suivantes ▶</a>
                </div>
                <div>
                    <div class="babelio-citation" ng-repeat="citation in item.babelio.citations_affichees">
                        <blockquote>{{citation.texte}}</blockquote>
                        <div>Partagé par <span class="babelio-username">{{citation.login}}</span> le {{citation.dt | cleanDate}}</div>
                    </div>
                </div>
                <div class="babelio-nav">
                    <a class="babelio-back" ng-if="item.babelthequeDisplayCitationsPage > 1" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage - 1)">◀ Citations précédentes</a>
                    <a class="babelio-forward" ng-if="item.babelthequeDisplayCitationsPage < item.babelio.nb_citations/10" ng-click="babelthequeDisplayCitations(item.babelthequeDisplayCitationsPage + 1)">Citations suivantes ▶</a>
                </div>
            </div>
        </div>
    </div>
</div>
